<div data-role="page" id="find">
  <%= render :partial => "shared/header", :locals => {:viewing => "Find Events"} %>
  
   <div data-role="content" data-inset="true" data-filter="true" data-theme="d" data-divider-theme="a" >
  
      <% if current_user and !current_user.finished_tutorial? %>
        <p>[Explanation for tutorial goes here]</p> 
      <% end %>
     
      <% @categories.each do |category| %>
        <h2> <%= category.name %> </h2> 
          <!-- <div data-role="collapsible"> -->
          <div class = 'iosSlider'>
          <div class ='slider' data-them = "d">
              <% category.events.each do |event| %>
                <!-- todo refactor this into a partial -->
                <div class ='slide'>
                <a href= <%="/event_detail?event=#{event.id}"%> data-role = "button" data-theme = "b" data-icon ="info" data-iconpos = "bottom" class="slider-button"> 
                  <p><%= event.event_title %></p>
                  <% if current_user %>
                    <p>Friends going: <%= current_user.friends_going(event).count %></p>
                  <% end %>
                </a>
              </div>
              <%end%>
          </div>
        </div>
      <%end%>
   
  </div>
  <%= render :partial => "shared/footer", :locals => {:viewing => :find} %>
</div>
