<div data-role="page" data-add-back-btn="true" id="home">

	<div data-role="header">
		<h1>My Events</h1>
		<% if current_user %>
		  Signed in as <strong><%= current_user.name %></strong>!
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
		<% else %>
  		<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", rel: "external" %>
		<% end %>
	</div><!-- /header -->

	<div data-role="content"> 
		<ul data-role="listview" data-inset="true" data-filter="true" data-theme="d" data-divider-theme="a">
			<li data-role="list-divider"> Today <span class="ui-li-count">9</span></li>
    		<% @my_events_today.each do |event| %>
      		<li> <a href= <%="/event_detail?event=#{event.id}" %> > <%= event.event_title %> </a> </li>
    		<% end %> 
    		<li data-role="list-divider">Tomorrow<span class="ui-li-count">1</span></li>
    		<% @my_events_tomorrow.each do |event| %>
      		<li> <a href ="#event_detail"> <%= event.to_s %> </a> </li>
    		<% end %>
    <ul>
	</div><!-- /content -->
	
	<%= render :partial => "shared/footer", :locals => {:viewing => :home} %>
</div><!-- /page -->