<div data-role="page" data-add-back-btn="true" id="home">
	<%= render :partial => "shared/header", :locals => {:viewing => "My Events"} %>
	<div data-role="content"> 
		<ul data-role="listview" id = "event_list" data-inset="true" data-filter="true" data-theme="d" data-divider-theme="a">
			<li data-role="list-divider"> Today <span class="ui-li-count"><%= @my_events_today.count %></span></li>
    		<% @my_events_today.each do |event| %>
      		<li> <a href= <%="/event_detail?event=#{event.id}" %> > <%= event.event_title %> </a> </li>
    		<% end %> 
    		<% if @my_events_tomorrow %>
    		  <li data-role="list-divider">Tomorrow<span class="ui-li-count">1</span></li>
      		<% @my_events_tomorrow.each do |event| %>
        		<li> <a href ="#event_detail"> <%= event.to_s %> </a> </li>
      		<% end %>
    		<% end %>
    <ul>
	</div><!-- /content -->
	
	<%= render :partial => "shared/footer", :locals => {:viewing => :home} %>
</div><!-- /page -->
