<div data-role="page" id="event_detail" data-add-back-btn="true">
  <script>
    gon.event = {event_title: "<%= @event.event_title %>", 
                id: <%= @event.id %>, friends_going: <%= @friends_going.size %>,
                latitude: <%= @event.latitude %>, longitude: <%= @event.longitude %> };
  </script>
  <%= hidden_field_tag :event_id, @event.id %>
  <div data-role="header">
    <a data-rel="back">Back</a>
    <h1>Details</h1>
  </div>


	<div data-role="content">
    <h1 id = "title"> <%= @event_title %> </h1>
		<p id= "description"> <%= @description %> </p>
   
	  <div class = "rsvp_status">
      <a href="#attending" data-corners = "false" data-icon="plus" data-role="button" data-inline="true" data-theme="d" id="going">Going</a>
      <a href="#not_attending"  data-corners="false" data-icon="minus" data-role="button" data-inline="true" data-theme="d" id="not_going">Not Going</a>
				
      <div class="ui-grid-a">
				<div class="ui-block-a" id = "go"> <strong>Date:</strong> <%= @event_time.strftime("%a %b #{@event_time.day.ordinalize}") %></div>
				<div class="ui-block-b" id = "not"><strong>Time:</strong> <%= @event_time.strftime("%l:%M %P") %></div>
      </div>
			
			<div class="ui-grid-solo">
      	<div class="ui-block-a" id="location"> <strong>Location:</strong> <%= @event.location %> </div>
			</div>	
			
			<div class="ui-grid-solo">
      	<div class="ui-block-a"> <a href="#map" id = "see_map" data-corners="false" data-mini="true" data-role="button">Get Directions</a></div>
			</div>	
			
		<!-- <div class="ui-grid-a"> -->
			
		<!-- </div> -->

      <% if current_user %>
			<%= hidden_field_tag(:num_friends, @friends_going.size) %>
          <% if @friends_going.empty? %>
            <li id = "no_friends">None of your friends have rsvped to this event yet</p>
          <% else %>
            <h2 id = "friends_going">Friends going:</h2>
            <ul>
            <% @friends_going.each do |friend| %>
              <!-- <li><%= friend["name"] %></li> -->
              <%= image_tag friend.prof_pic_link, :class => "prof_pic" if friend.prof_pic_link %>
            <% end %>
            </ul>
          <% end %>
        
      <% end %>
      
    </div>

  </div>

  <%= render :partial => "shared/footer", :locals => {:viewing => :none} %>
</div>

<% if !request.xhr? %>
  <%= render :partial => "my_events" %>
  <%= render :partial => "find" %>
<% end %>
