<div data-role="page" id="event_detail">
  <%= hidden_field_tag :event_id, @event.id %>
	<div data-role="header">
		<h1>Event Details</h1>
	</div>

	<div data-role="content">
		<h1 id="event_title"> 
      <h2 id = "center"> <%= @event_title%> </h2>
    </h1>
		<div class="ui-grid-a">
			<div class="ui-block-a"><strong>Date:</strong> <%= @event_time %></div>
			<div class="ui-block-b"><strong>Time:</strong> <%= @event_time %></div>
		</div>

    <h2 id = "center"> Event Description: </h2>
    <h4 id = "center"> <%= @description %> </h4>
    <h2 id = "center"> RSVP Status: </h2>
    <div class = "rsvp_status">
      <a href="#going" data-icon="plus" data-role="button" data-inline="true" data-theme="b" data-rel ="popup" data-position-to= "window" id="attending">Going</a>
      <div data-role="popup" id="going"> 
        <p> You are now attending this event <p>
      </div>

      <a href="#" data-icon = "minus" data-role="button" data-inline="true" data-theme="d" id="not_going">Not Going</a>
    </div>

  </div>

  <%= render :partial => "shared/footer", :locals => {:viewing => :find} %>
</div>