<div data-role="page" id="event_detail">
  <%= hidden_field_tag :event_id, @event.id %>
	<div data-role="header">
		<h1>Event Details</h1>
	</div>

	<div data-role="content">
		<h1 id="event_title"> 
      <h2 class = "centered" id = "title"> <%= @event_title%> </h2>
    </h1>
		<div class="ui-grid-a">
			<div class="ui-block-a"><strong>Date:</strong> <%= @event_time %></div>
			<div class="ui-block-b"><strong>Time:</strong> <%= @event_time %></div>
		</div>

    <h2 class = "centered"> Event Description: </h2>
    <h4 class = "centered"> <%= @description %> </h4>
    <h2 class = "centered"> RSVP Status: </h2>
    <div class = "rsvp_status">
      <a href="#attending" data-icon="plus" data-role="button" data-inline="true" data-theme="b" data-rel ="popup" data-position-to= "window" id="going">Going</a>
      <div data-role="popup" id="attending"> 
        <% if current_user %>
          <p> You are now attending this event <p>
        <% else %>
          <p> Please sign in :)<p>
        <% end %>
      </div>

      <a href="#not_attending" data-icon = "minus" data-role="button" data-inline="true" data-theme="d" data-rel ="popup" data-position-to= "window" id="not_going">Not Going</a>
      <div data-role="popup" id="not_attending"> 
        <% if current_user %>
          <p> That's for letting us know you aren't coming.  You can change your mind at any point :) <p>
        <% else %>
          <p> Please sign in :)<p>
        <% end %>
      </div>

      <% if current_user %>
			<%= hidden_field_tag(:num_friends, @friends_going.size) %>
          <% if @friends_going.empty? %>
            <li>None of your friends have rsvped to this event yet</p>
          <% else %>
            <h2>Friends going:</h1>
            <ul>
            <% @friends_going.each do |friend| %>
              <li><%= friend["name"] %></li>
            <% end %>
            </ul>
          <% end %>
        
      <% end %>
      
    </div>

  </div>

  <%= render :partial => "shared/footer", :locals => {:viewing => :find} %>
</div>

<% if !request.xhr? %>
  <%= render :partial => "my_events" %>
  <%= render :partial => "find" %>
  <%= render :partial => "map" %>
<% end %>