<div data-role="page" id="event_detail">
  <script>
    gon.event = {event_title: "<%= @event.event_title %>", id: <%= @event.id %>, friends_going: <%= @friends_going.size %> };
  </script>
  <%= hidden_field_tag :event_id, @event.id %>
	<!-- <div data-role="header"> -->
		<!-- <h1><%=@event_title %></h1> -->
	<!-- </div> -->

	<div data-role="content">
    <h1 id = "title"> <%= @event_title%> </h1>
		<p id= "description"> <%= @description %> </p>
   
	  <div class = "rsvp_status">
      <a href="#attending" data-corners = "false" data-icon="plus" data-role="button" data-inline="true" data-theme="d" data-rel ="popup" data-position-to= "window" id="going">Going</a>
      <div data-role="popup" id="attending"> 
				<a href="#" data-rel="back" data-role="button" data-theme="d" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
        <% if current_user %>
          <p> You are now attending this event <p>
        <% else %>
          <p> Please sign in :)<p>
        <% end %>
      </div>

      <a href="#not_attending"  data-corners = "false" data-icon = "minus" data-role="button" data-inline="true" data-theme="d" data-rel ="popup" data-position-to= 				"window" id="not_going">Not Going</a>
      <div data-role="popup" id="not_attending">
					 <a href="#" data-rel="back" data-role="button" data-theme="d" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>

        <% if current_user %>
          <p> That's for letting us know you aren't coming.  You can change your mind at any point :) <p>
        <% else %>
          <p> Please sign in :)<p>
        <% end %>
      </div>
		<div class="ui-grid-a">
			<div class="ui-block-a" id = "go"> <strong>Date:</strong> <%= @event_time.strftime("%a %b #{@event_time.day.ordinalize}") %></div>
			<div class="ui-block-b" id = "not"><strong>Time:</strong> <%= @event_time.strftime("%l:%M %P") %></div>
		</div>

      <% if current_user %>
			<%= hidden_field_tag(:num_friends, @friends_going.size) %>
          <% if @friends_going.empty? %>
            <li id = "no_friends">None of your friends have rsvped to this event yet</p>
          <% else %>
            <h2 id = "friends_going">Friends going:</h2>
            <ul>
            <% @friends_going.each do |friend| %>
              <li><%= friend["name"] %></li>
            <% end %>
            </ul>
          <% end %>
        
      <% end %>
      
    </div>

  </div>

  <%= render :partial => "shared/footer", :locals => {:viewing => :find} %>
</div>

<% if !request.xhr? %>
  <%= render :partial => "my_events" %>
  <%= render :partial => "find" %>
  <%= render :partial => "map" %>
<% end %>
