
<% if !current_user %>
  <div data-role="page">
    <%= image_tag "SignUp.jpg" %>
    <%= image_tag "FacebookButton.png", id: "sign_in" %>
  </div>
<% end %>

<% if current_user and !current_user.finished_tutorial? %>
  <%= render :partial => "find" %>  
  <%= render :partial => "my_events" %>
<% else %>
  <%= render :partial => "my_events" %>
  <%= render :partial => "find" %>
<% end %>