<!DOCTYPE html>
<html>
<head>
  <title>EventBuzz</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="//cdn.optimizely.com/js/141866763.js"></script>
  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALYokmA6mPXdka00d73hYa6gVQrlFtnPg&sensor=true">
  </script>
  
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
</head>
<body>

<%= yield %>

<a href="http://flow.mixpanel.com/f/partner"><img src="http://mixpanel.com/site_media/images/partner/badge_blue.png" alt="Web Analytics" /></a>

</body>
</html>
